<footer class="footer">
    <div class="footer-container">

        <div class="socials">
            <a target="_blank" href="https://www.instagram.com/eyp.greece/"><i class="fa-brands fa-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/eypgr"><i class="fa-brands fa-facebook"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/european-youth-parliament-greece"><i class="fa-brands fa-linkedin"></i></a>
            <a target="_blank" href="https://www.tiktok.com/@eyp.greece"><i class="fa-brands fa-tiktok"></i></a>
            <a target="_blank" href="https://discord.com/invite/bnfjMAGUZe"><i class="fa-brands fa-discord"></i></a>
            <a href="mailto:info@eypgreece.org"><i class="fa-regular fa-envelope"></i></a>
            <a href="tel:+302152151994"><i class="fa-solid fa-phone"></i></a>
        </div>

        <div class="footer-links">
            <a href="/items/news.html">Νέα</a>
            <a href="/items/contact.html">Επικοινωνία</a>
            <a href="/items/policies.html">Policies</a>
        </div>

    </div>
</footer>